:root {
  /* Colours */
  --color-bg: #fceb94; /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #2a2828;
  --color-text-logotype: #fff;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */

  --color-link-bg: #fff;
  --color-link-hover: #99958f; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #000;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #fff;
  /* news-cards */
  --color-news-bg: #fff;
  --color-news-bg-inverted: #ff4b00;
  --color-cta-newscard-bg: #ff4b00;
  --color-cta-newscard-bg-inverted: #000;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff93;
}
