/* Grid til afstand mellem grupper og felter  */
form {
  accent-color: inherit;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 0.43);
  display: grid;
  gap: 1rlh;
  justify-content: center;
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  border-radius: 5%;
  border: 2px solid rgb(199, 199, 199);
}

article h2 {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  padding: 20px;
}

article p {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

#form-summary h2 {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  padding: 20px;
}

.form-section {
  justify-content: center;
  align-self: center;
  align-items: center;
}

.form-group {
  margin: 5px;
  display: grid;
  gap: 0.1rlh;
}

.form-group label {
  margin: 5px;
  width: 100%;
  gap: 0.1rlh;
}

input {
  width: 75%;
  padding: 10px;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5%;
  background-color: #fceb94;
  box-shadow: 2px 2px 5px #aaaaaa;
}

.checkbox {
  box-shadow: none;
}

.form-group-sprog {
  width: 75%;
  padding: 10px;
  margin: 10px;
}

/* Flexbox til checkbokse og radioknapper */
label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.75ch;
}
/* Fokus-styles */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid rgb(133, 133, 133);
  outline-offset: 1px;
}
/* Hover-styles */

button {
  margin: 0 auto;
  width: 50%;
  height: 100px;
  padding: 10px 60px;
  border-radius: 50%;
}

button:hover {
  background: #fff;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}
/* Tilføj stjerne til labels */
.form-group:has(:required) {
  label::before {
    content: "* ";
    color: red;
  }
}
/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}

.output div {
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.43);
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
  border-radius: 5%;

  border: 2px solid rgb(199, 199, 199);

  box-shadow: 2px 2px 5px #aaaaaa;
}

h1 {
  font-family: "Nobile", sans-serif;
  color: #fff;
}
